@reference "@style";

.x-popover {
	@apply inline-block;
}

.x-popover__dropdown {
	@apply hidden absolute bg-surface p-3 rounded border border-color shadow-md shadow-black/50 left-1/2 -translate-x-1/2 z-50;
	--popover-arrow-size: calc(var(--spacing) * 2);
	--popover-arrow-position: calc(var(--spacing) * 3);
	--popover-offset-val: 0rem;
	--popover-offset: var(--popover-offset-val);
	& > * {
		@apply z-20;
	}
	.x-popover--show > & {
		@apply block;
	}
}

.x-popover__dropdown--arrow {
	--popover-offset: calc(
		var(--popover-offset-val) + var(--popover-arrow-size)
	);
}

.x-popover__dropdown {
	margin-top: var(--popover-offset);
}

.x-popover__dropdown--arrow::before {
	@apply bg-inherit border-t border-l border-inherit absolute top-0 left-1/2 rotate-45 -translate-x-1/2 -translate-y-52/100;
	content: "";
	width: var(--popover-arrow-size);
	height: var(--popover-arrow-size);
}

.x-popover__dropdown--top,
.x-popover__dropdown--top-start,
.x-popover__dropdown--top-end {
	@apply top-auto bottom-full;
	&.x-popover__dropdown--arrow {
		margin-bottom: var(--popover-offset);
		&::before {
			@apply top-auto bottom-0 rotate-225 translate-y-57/100;
		}
	}
}

.x-popover__dropdown--top-start,
.x-popover__dropdown--top-end,
.x-popover__dropdown--bootom-start,
.x-popover__dropdown--bootom-end {
	@apply translate-none;
	&.x-popover__dropdown--arrow::before {
		@apply left-auto;
	}
}

.x-popover__dropdown--top-start,
.x-popover__dropdown--bootom-start {
	@apply left-0;
	&.x-popover__dropdown--arrow::before {
		left: var(--popover-arrow-position);
	}
}
.x-popover__dropdown--top-end,
.x-popover__dropdown--bootom-end {
	@apply left-auto right-0;
	&.x-popover__dropdown--arrow::before {
		right: var(--popover-arrow-position);
	}
}

.x-popover__dropdown--bootom,
.x-popover__dropdown--bootom-start,
.x-popover__dropdown--bootom-end {
	@apply bottom-auto top-full;
	&.x-popover__dropdown--arrow {
		margin-bottom: var(--popover-offset);
		&::before {
			@apply bottom-auto top-0 rotate-45 -translate-y-52/100;
		}
	}
}

.x-popover__dropdown--left,
.x-popover__dropdown--left-start,
.x-popover__dropdown--left-end,
.x-popover__dropdown--right,
.x-popover__dropdown--right-start,
.x-popover__dropdown--right-end {
	@apply top-auto bottom-auto left-auto right-auto translate-x-0;
	&.x-popover__dropdown--arrow {
		margin-top: 0;
		margin-bottom: 0;
	}
	&.x-popover__dropdown--arrow::before {
		@apply top-auto bottom-auto left-auto right-auto;
	}
}

.x-popover__dropdown--left,
.x-popover__dropdown--left-start,
.x-popover__dropdown--left-end {
	@apply right-full;
	&.x-popover__dropdown--arrow {
		margin-right: var(--popover-offset);
	}
	&.x-popover__dropdown--arrow::before {
		@apply right-0 rotate-135 translate-x-58/100;
	}
}

.x-popover__dropdown--right,
.x-popover__dropdown--right-start,
.x-popover__dropdown--right-end {
	@apply left-full;
	&.x-popover__dropdown--arrow {
		margin-left: var(--popover-offset);
	}
	&.x-popover__dropdown--arrow::before {
		@apply left-0 rotate-315 -translate-x-58/100;
	}
}

.x-popover__dropdown--left,
.x-popover__dropdown--right {
	@apply top-1/2 -translate-y-1/2;
	&.x-popover__dropdown--arrow::before {
		@apply top-1/2 -translate-y-1/2;
	}
}

.x-popover__dropdown--left-start,
.x-popover__dropdown--right-start {
	@apply top-0 translate-y-0;
	&.x-popover__dropdown--arrow::before {
		top: var(--popover-arrow-position);
	}
}

.x-popover__dropdown--left-end,
.x-popover__dropdown--right-end {
	@apply bottom-0 translate-y-0;
	&.x-popover__dropdown--arrow::before {
		bottom: var(--popover-arrow-position);
	}
}
