@reference "@style";

.x-pill {
	--x-pill-fs-xs: 10px;
	--x-pill-fs-sm: 12px;
	--x-pill-fs-md: 14px;
	--x-pill-fs-lg: 16px;
	--x-pill-fs-xl: 18px;

	--x-pill-height-xs: 18px;
	--x-pill-height-sm: 22px;
	--x-pill-height-md: 25px;
	--x-pill-height-lg: 28px;
	--x-pill-height-xl: 32px;

	--x-pill-fs: var(--x-pill-fs-md);
	--x-pill-height: var(--x-pill-height-md);

	@apply inline-flex flex-0 items-center max-w-full text-(length:--x-pill-fs) h-(--x-pill-height) leading-none text-nowrap py-0 bg-surface;
}
.x-pill .x-btn {
	@apply -ml-3;
}

.x-pill-label {
	@apply h-full overflow-hidden cursor-[inherit] text-ellipsis;
}
.x-pill--disabled {
	@apply bg-surface/60 cursor-not-allowed;
}

.x-pill-group {
}
