.x-box {
	--imput-padding: calc(var(--spacing) * 2);
	--input-padding-start: var(--imput-padding);
	--input-padding-end: var(--imput-padding);
}

.x-box,
.x-box-section {
	@apply flex flex-wrap relative;
}

.x-box--col,
.x-box-section {
	@apply flex-col;
}

.x-box {
	@apply px-3 py-2 gap-3;
}
.x-box--dense {
	@apply px-2 py-1 gap-2;
}
.x-box--no-wrap {
	@apply flex-nowrap;
}

.x-box--xs {
	@apply rounded px-1 py-1 gap-1 text-xs;
}
.x-box--sm {
	@apply rounded px-2 py-1 gap-2 text-sm;
}
.x-box--lg {
	@apply rounded px-4 py-3 gap-4 text-lg;
}

.x-box-section:not(.x-box-section--side) {
	@apply flex-1;
}
.x-box-section {
	@apply items-start justify-center;
	&--side > svg {
		@apply block;
	}
}
.x-box-section--side {
	@apply items-center;
}
