@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--body-bg: #ffffff;
	--body-color: #000000;

	--link-color: #000000;
	--link-hover-color: #000000;

	--border-color: rgb(0, 0, 0, 0.2);
	--scrollbar-color: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.2);

	--selection-bg: rgba(0, 0, 0, 0.2);
	--selection-color: #eee;

	--color-separator: rgba(0, 0, 0, 0.15);
	--color-divider: rgba(0, 0, 0, 0.15);
	--color-dimmed: rgba(0, 0, 0, 0.2);

	--color-primary: #1975d2;
	--color-secondary: #5cbbf6;
	--color-accent: #9c27b0;
	--color-positive: #4caf50;
	--color-negative: #dc3545;
	--color-info: #2196f3;
	--color-warning: #fb8c00;
	--color-dark: #1d1d1d;

	--color-on-primary: #ffffff;
	--color-on-secondary: #ffffff;
	--color-on-accent: #ffffff;
	--color-on-positive: #ffffff;
	--color-on-negative: #ffffff;
	--color-on-info: #ffffff;
	--color-on-warning: #ffffff;
	--color-on-dark: #ffffff;

	--color-surface: #ffffff;
	--color-on-surface: #000000;
	--color-background: var(--body-bg);
	--color-on-background: var(--body-color);

	--color-bgmb1: rgba(190, 155, 100, 0.5);
	--color-bgmb2: rgba(245, 137, 116, 0.5);
	--color-bgmb3: rgba(158, 25, 58, 0.5);
	--color-bgmb4: rgba(207, 92, 118, 0.5);
	--color-bgmb5: rgba(14, 100, 95, 0.5);

	--inset-shadow-md: inset 0 3px 5px rgb(0 0 0 / 0.25);

	--shadow-1: 0px 1px 3px 0px rgba(166, 175, 195, 0.4);
	--shadow-2: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
	--shadow-3: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
	--shadow-4: 0px 10px 30px 0px rgba(85, 106, 235, 0.12),
		0px 4px 10px 0px rgba(85, 106, 235, 0.04),
		0px -18px 38px 0px rgba(85, 106, 235, 0.04);
	--shadow-5: 0px 13px 40px 0px rgba(13, 10, 44, 0.12),
		0px -8px 18px 0px rgba(13, 10, 44, 0.04);
	--shadow-6: 0px 12px 34px 0px rgba(13, 10, 44, 0.08),
		0px 34px 26px 0px rgba(13, 10, 44, 0.05);
	--shadow-strong: 0 4px 18px -2px #000000b3;

	--grid-row-layout: minmax(min-content, auto) minmax(auto, 1fr)
		minmax(min-content, auto);
	--grid-col-layout: minmax(min-content, auto) minmax(auto, 1fr)
		minmax(min-content, auto);
}

.dark {
	--body-bg: #002650;
	--body-color: #ffffffb3;

	/*--link-color: #00aeff;*/
	--link-color: #ffffffb3;
	--link-hover-color: #ffffff;

	--border-color: #ffffff33;

	--scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.2);

	--color-surface: #15171e;
	--color-on-surface: #ffffff;

	--color-separator: #ffffff26;
	--color-divider: #ffffff26;
}

@layer base {
	*,
	*:before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	html,
	body,
	#root {
		width: 100%;
		height: 100%;
	}
	body {
		background-color: var(--body-bg);
		color: var(--body-color);
	}
	a {
		color: var(--link-color);
		text-decoration: none;
	}
	a[href]:not([disabled]):hover {
		color: var(--link-hover-color);
		text-decoration: underline;
	}
	* {
		scrollbar-color: var(--scrollbar-color);
		scrollbar-width: thin;
	}
	*::-moz-selection,
	*::selection {
		color: var(--selection-color);
		background: var(--selection-bg);
	}
}

@import "./box.css";
@import "./x-bg.css";
@import "./border.css";
