@reference "@style";

/**
 * Styles for Pagination component.
 */

.x-pagination {
	--x-pagination-size-xs: 24px;
	--x-pagination-size-sm: 26px;
	--x-pagination-size-md: 32px;
	--x-pagination-size-lg: 38px;
	--x-pagination-size: var(--x-pagination-size-md);

	@apply flex flex-wrap justify-start items-center gap-2;
}
.x-pagination,
.x-pagination *,
.x-pagination *::after,
.x-pagination *::before {
	@apply transition ease-in-out duration-200;
}

.x-pagination-btn,
.x-pagination-dots {
	@apply flex items-center justify-center leading-none h-(--x-pagination-size) min-w-(--x-pagination-size);
	padding: calc(var(--x-pagination-size) / 4);
}

.x-pagination-btn {
	@apply relative cursor-pointer border border-color rounded;
	&::after {
		@apply absolute left-0 top-0 w-full h-full content-[''] bg-current opacity-0 rounded-[inherit] -z-10;
	}
}
.x-pagination-dots {
	@apply pointer-events-none;
}

.x-pagination-btn:disabled {
	@apply cursor-not-allowed opacity-d;
}
.x-pagination-btn:not(:disabled) {
	@apply active:translate-y-0.5;
}
.x-pagination-btn:not(:disabled, .x-pagination-btn--active) {
	&:hover::after {
		@apply opacity-h;
	}
}
.x-pagination-btn--active {
	@apply x-bg-primary border-primary;
}
